<div class="auth-wrapper d-flex no-block justify-content-center align-items-center login-container">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign In to Admin</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span id="username" class="input-group-text">
                                        <i class="ti-user"></i>
                                    </span>
                                </div>
                                <input type="text" placeholder="Username" aria-label="username" aria-describedby="username"
                                       formControlName="username" class="form-control">
                            </div>
                            <app-control-message [control]="loginForm.get('username')" [filedName]="'username'"></app-control-message>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span id="password" class="input-group-text">
                                        <i class="ti-lock"></i>
                                    </span>
                                </div>
                                <input type="password" placeholder="Password" aria-label="password" aria-describedby="password"
                                       formControlName="password" class="form-control">
                            </div>
                            <app-control-message [control]="loginForm.get('password')" [filedName]="'password'"></app-control-message>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember" formControlName="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                    <a href="javascript:void(0)" id="to-recover" class="text-dark float-right">
                                        <i class="fa fa-lock m-r-5"></i> Forgot password?
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-login" type="submit" [disabled]="!loginForm.valid">Log In</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <a href="javascript:void(0)" class="btn btn-facebook" data-toggle="tooltip"
                                       title="facebook" data-original-title="Login with Facebook">
                                        <i aria-hidden="true" class="fab  fa-facebook"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip"
                                       (click)="onSignIn($event)"
                                       title="google" data-original-title="Login with Google">
                                        <i aria-hidden="true" class="fab  fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a [routerLink]="'/authentication/sign-up'" class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
